* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightgray;
}

.header {
    width: 850px;
    height: 400px;
}

.header-bg {
    height: 400px;
    background-color: #3b5998;
    border-radius: 0.5%;
}

.profile-heading {
    height: 50px;
    background-color: white;

    position: relative;
    top: -25px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    background-color: #3b5998;

    border: 1px solid black;
    border-radius: 1%;

    position: relative;
    top: -202px;
    left: -310px;
    
}

.site-info {
    color: white;
    position: relative;
    top: 300px;
    left: 230px;
}

.site-info h3 {
    font-weight: lighter;
}

.profile-heading li {
    width: 50%;
    list-style: none;
    padding: 8px 9px 8px 9px;

    font-size: 14px;

    display: inline;
    position: relative;
    top: 12px;
    left: 180px;
}

.list-border {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.profile-heading a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    box-shadow: 0 3px 0 0 #3b5998;
}

.interact-menu {
    float: right;
    
    position: relative;
    top: -280px;
    left: -10px;
}

.interact-bar button {
    border: 1px solid gray;
    line-height: 15px;
    padding: 5px 10px;

    cursor: pointer;
    font-weight: bold;

    position: relative;
    top: 5px;
    left: -3px;
    float: left;
}

.like {
    margin-right: 10px;
}

.follow {
    color: gray;
    font-weight: bold;
}

.layout {
    width: 850px;
    height: 100%;

    position: relative;
    top: -200px;
}

.column-info {
    width: 328px;
    height: 100%;
    margin-right: 10px;
    margin-top: 20px;

    float: left;
    position: relative;
    top: -50px;
}

.page-info {
    width: 328px;
    height: 190px;

    background-color: white;
    border-radius: 1%;

    position: relative;
    top: 30px;
}

.page-info-text {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;

    position: relative;
    top: 25px;
}

.page-info-text h3 {
    font-size: 16px;
}

.page-info-text p {
    font-size: 16px;
    color: #3b5998;

    position: relative;
    top: -5px;
}

.globe-link {
    padding-left: 10px;

    position: relative;
    top: 32px;

    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #3b5998;
    cursor: pointer;
}

.column-updates {
    width: 512px;
    height: 100%;

    position: relative;
    top: -26px;

    float: left;
}

.cover-update {
    width: 512px;
    height: 310px;
    border-radius: 1%;

    background-color: white;
}

.photo-icon {
    width: 50px;
    height: 50px;

    background-color: #3b5998;

    position: relative;
    top: 10px;
    left: -220px;
}

.update-info {
    position: relative;
    top: -45px;
    left: 70px;
}

.update-info p {
    font-size: 13px;
    color: gray;
}

.bold-link {
    text-decoration: none;
    font-weight: bold;
}

.light-link {
    text-decoration: none;
    font-weight: lighter;
}

.update-content {
    width: 506px;
    height: 185px;
    background-color: #3b5998;

    position: relative;
    top: -30px;
}

.reaction {
    width: 512px;
    height: 30px;

    border-top: 1px solid lightgray;;

    text-align: left;

    position: relative;
    top: -25px;
}

.reaction-links {
    font-size: 14px;
    font-weight: bold;

    position: relative;
    top: -2px;
    left: 15px;
}

.reaction-links a {
    text-decoration: none;
    font-weight: lighter;
    color: 3b5998;
}